.collection-icons-container {
    padding: 60px 0;
    text-align: center;
    background-color: #F9F8FE;
}

.collection-icons-container h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-gray-2);
    margin-bottom: 30px;
}

.icons-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.icon-circle {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}

.icon-circle svg path {
    stroke: var(--light-gray);
    transition: stroke 0.3s;
}

/* Hover Effect */
.icon-circle:hover {
    background-color: var(--white);
    box-shadow: 0px 4px 25px rgba(201, 32, 113, 0.2);
}

.icon-circle:hover svg path {
    stroke: var(--primary);
}

.icon-item span {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-gray-2);
}