.footer-information h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--white);
}

.footer-information ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-information ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s;
}

.footer-information ul li a:hover {
    color: var(--primary);
}