.order-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.order-container {
    padding: 60px 20px;
    text-align: center;
    min-height: 20vh;
}

.order-title {
    font-size: 32px;
    color: #C92071;
    margin-bottom: 0;
    font-weight: bold;
}

.orders-header {
    text-align: center;
    margin-bottom: 40px;
}

.orders-header h2 {
    color: #C92071;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.orders-line {
    width: 60px;
    height: 4px;
    background-color: #C92071;
    margin: 10px auto 0;
    border-radius: 2px;
}

.order-text {
    color: var(--dark-gray-3);
}