.product-listing-page {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    background-color: #F9F8FE;
}

.product-listing-content {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.product-listing-filters {
    flex: 0 0 300px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 4px;
    height: fit-content;
}

.filter-sort-group {
    margin-bottom: 20px;
}

.filter-sort-group h3 {
    font-size: 16px;
    color: #474747;
    margin-bottom: 10px;
}

.filter-sort-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #474747;
    background-color: transparent;
}

.product-listing-results {
    flex: 1;
}

.ordenar-container {
    display: flex;
    align-items: center;
    border: 1px solid #474747;
    border-radius: 4px;
    padding: 5px 15px;
    /* Espaçamento interno da caixinha */
    width: max-content;
    /* Faz a borda engolir apenas o texto, sem esticar */
    margin-left: auto;
    /* Empurra a caixinha toda para o lado direito */
    margin-bottom: -50px;
    position: relative;
    z-index: 2;
}

.ordenar-container strong {
    font-size: 16px;
    color: #474747;
    margin-right: 5px;
    font-weight: bold;
}

.sort-select {
    padding: 5px 0;
    border: none;
    font-size: 16px;
    font-family: inherit;
    color: #474747;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}