.product-listing-page {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: #F9F8FE;
}

.product-listing-wrapper {
    width: max-content;
    margin: 0 auto;
    max-width: 1254px;
}

.product-listing-header {
    display: flex;
    justify-content: space-between;
    /* Joga Título pra ESQUERDA e Caixa pra DIREITA */
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    /* Separa o cabeçalho das colunas abaixo */
}

.product-listing-title {
    font-size: 16px;
    font-weight: normal;
    color: #474747;
}

.product-listing-title strong {
    font-weight: bold;
    color: #474747;
}

.product-listing-content {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.product-listing-filters {
    flex: 0 0 300px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 4px;
    height: fit-content;
}

.filter-sort-group {
    margin-bottom: 20px;
}

.filter-sort-group h3 {
    font-size: 16px;
    color: #474747;
    margin-bottom: 10px;
}

.filter-sort-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #474747;
    background-color: transparent;
}

.product-listing-results {
    flex: 1;
    max-width: 924px;
}

.ordenar-container {
    display: flex;
    align-items: center;
    border: 1px solid #474747;
    border-radius: 4px;
    padding: 10px 15px;
    width: max-content;
}

.ordenar-container strong {
    font-size: 16px;
    color: #474747;
    margin-right: 5px;
    font-weight: bold;
}

.sort-select {
    padding: 5px 0;
    border: none;
    font-size: 16px;
    font-family: inherit;
    color: #474747;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}