.special-offer-container {
    padding: 60px 100px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.special-offer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    gap: 40px;
}

.special-offer-images {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    height: auto;
    /* NO FIGMA CONSTA HEIGHT 553PX */
}

.ellipse-bg {
    position: absolute;
    width: 446px;
    height: 446px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 50%);
    top: -30px;
    margin-top: 30px;
    z-index: 1;
}



.special-offer-images img {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 550px;
    transform: translateY(10px);
}

.special-offer-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.offer-tag {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
}

.offer-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: var(--dark-gray-2);
}

.offer-description {
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-gray-2);
    margin-bottom: 10px;
}

.offer-button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}

.offer-button:hover {
    background-color: var(--tertiary);
}

/* Responsividade */
@media (max-width: 900px) {
    .special-offer-container {
        padding: 40px 20px;
    }

    .special-offer-content {
        flex-direction: column-reverse;
        /* Imagem vai para cima no mobile, ou baixo dependendo do gosto */
        text-align: center;
    }

    .special-offer-info {
        align-items: center;
    }

    .ellipse-bg {
        width: 300px;
        height: 300px;
    }
}