:root {
  /* Cores Principais */
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  /* Escala de Cinza */
  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--light-gray-3);
  color: var(--dark-gray);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}